<!DOCTYPE html>
<html>
  <head>
	<title>{% if page.title %}{{ page.title }} – {{ site.name }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
	<header>
		<a href='{{ site.baseurl }}/'>
		  <img class="site-header__logo" alt='G. Lucas Roe' src='{{ site.baseurl }}/images/site/seal.svg'>
		  <h1 class="site-header__title">G. Lucas Roe</h1>
		</a>
		<nav class="site-header__nav">
		  <a href="/about"> About</a>
		  <a href="/work">Work </a>
		</nav>
	</header>
	<div class='post-body'>
	  {{ content }}
	</div>
	<footer>
	  <p class="copyright">Unless otherwise noted, content is &copy; {{ 'now' | date: "%Y" }} G. Lucas Roe, and shouldn't be used without at least asking nicely. I can't stop you, but some wicked bad karma will come your way.</p>
	  <p class="social">
		<a href='https://www.linkedin.com/in/glucasroe/'>
		  <img alt='LinkedIn' src='{{ site.baseurl }}/images/site/linked-in.svg'>
		</a>
		<a href='https://github.com/glucasroe'>
		  <img alt='Github' src='{{ site.baseurl }}/images/site/github.svg'>
		</a>
		<a href='https://codepen.io/glucasroe'>
		  <img alt='Codepen' src='{{ site.baseurl }}/images/site/codepen.svg'>
		</a>
		<a href='https://twitter.com/glucasroe'>
		  <img alt='Twitter' src='{{ site.baseurl }}/images/site/twitter.svg'>
		</a>
		<a href='/feed.xml'>
		  <img alt='RSS Feed' src='{{ site.baseurl }}/images/site/rss.svg'>

		</a>
	  </p>
	</footer>
	<div class="view-toggle" id="view-toggle"></div>
	<script type="text/javascript" src="{{ site.baseurl }}/scripts/scripts-min.js"></script>
  </body>
</html>
